<% if tweet.favorited_by?(current_user) %>
  <p>
    <%= link_to tweet_favorites_path(tweet), method: :delete, remote: true, class: "favorite_btn" do %>
      ✋<%= tweet.favorites.count %> 参加希望中！
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to tweet_favorites_path(tweet), method: :post, remote: true, class: "favorite_btn" do %>
      ✊<%= tweet.favorites.count %> 参加を希望する
    <% end %>
  </p>
<% end %>